<%- include("./partials/header.ejs") -%>
<div class="content__general">
<h1> <%= title %> </h1>
<form action="/compose" method="POST">
<input type="text" name="composeText"><button type="submit">Publish</button>
</form>
</div>